<!-- Navbar Atas -->
<div class="navbar navbar-inverse">
	<div class="navbar-boxed">
		<div class="navbar-header">
			<a class="navbar-brand" href="{D_SITEURL}">
				<img src="{D_URL_IMAGES}/logo.png" alt="">
			</a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<span>#USER_NAME#</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-plus"></i> Profil</a></li>
						<li class="divider"></li>
						<li><a href="/?p=logout"><i class="icon-switch2"></i> Log Keluar</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /Navbar Atas -->

<!-- Menu Utama -->
<div class="navbar navbar-default" id="navbar-second">
	<div class="navbar-boxed">
		<ul class="nav navbar-nav no-border visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="navbar-second-toggle">
			<ul class="nav navbar-nav">
				<li><a href="{D_SITEURL}"><i class="icon-display4 position-left"></i> Dashboard</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">					
			</ul>
		</div>
	</div>
</div>
<!-- /Menu Utama -->