<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">

			<div class="row">

				<div class="col-sm-6 col-md-4 mb-15">
					<a href="index.php?p=carian" class="btn btn-default btn-block btn-float btn-float-lg">
						<div class="icon-object border-success text-success">
							<i class="icon-search4"></i>
						</div>
						<span class="h4 text-bold no-margin-top no-padding-top mb-10">
							Carian Rekod Surat
						</span>
					</a>
				</div>

				<div class="col-sm-6 col-md-4 mb-15">
					<a href="index.php?p=rekod-surat" class="btn btn-default btn-block btn-float btn-float-lg">
						<div class="icon-object border-success text-success">
							<i class="icon-database"></i>
						</div>
						<span class="h4 text-bold no-margin-top no-padding-top mb-10">
							Rekod Surat Keluar/Masuk
						</span>
					</a>
				</div>

				<div class="col-sm-6 col-md-4 mb-15">
					<a href="index.php?p=laporan" class="btn btn-default btn-block btn-float btn-float-lg">
						<div class="icon-object border-success text-success">
							<i class="icon-stats-bars3"></i>
						</div>
						<span class="h4 text-bold no-margin-top no-padding-top mb-10">
							Laporan
						</span>
					</a>
				</div>

				#ADMIN_MENU#

			</div>

		</div>
	</div>
</div>