<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">

			<div class="row mb-20">
				<div class="col-xs-12">
					<a href="index.php?p=tambah-pengguna" class="btn btn-xlg bg-primary">
						Tambah Pengguna
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-flat">
						
						<table class="table datatable-basic table-striped table-hover table-condensed table-bordered">
							<thead>
								<tr>
									<th>Username</th>
									<th>Nama</th>
									<th>Jawatan</th>
									<th>Status Online</th>
									<th>Status Akaun</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								#DATA_PENGGUNA#
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>