<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">

			<div class="row mb-20">
				<div class="col-xs-12">
					<a href="/?p=tambah-pengguna" class="btn btn-xlg bg-primary">
						Tambah Pengguna
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-flat">
						<div class="panel-body">
							<form class="form-horizontal" action="/?p=simpan-rekod-pengguna" method="post">
								
								<fieldset class="content-group">

									<div class="form-group">
										<label class="control-label col-md-3 col-lg-2">Username</label>
										<div class="col-md-9 col-lg-10">
											<input name="username" type="text" class="form-control">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3 col-lg-2">Kata Laluan</label>
										<div class="col-md-9 col-lg-10">
											<input name="pwd" type="password" class="form-control">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3 col-lg-2">Nama Pengguna</label>
										<div class="col-md-9 col-lg-10">
											<input name="nama" type="text" class="form-control">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3 col-lg-2">Jawatan</label>
										<div class="col-md-9 col-lg-10">
											<input name="jawatan" type="text" class="form-control">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3 col-lg-2">Status Akaun</label>
										<div class="col-md-9 col-lg-10">
											<select name="status_akaun" class="form-control">
												<option value="AKTIF">Aktif</option>
												<option value="TIDAK AKTIF">Tidak Aktif</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3 col-lg-2">Kumpulan Pengguna</label>
										<div class="col-md-9 col-lg-10">
											<select name="kumpulan_pengguna" class="form-control">
												<option value="admin">Pentadbir</option>
												<option value="user">Pengguna Biasa</option>
											</select>
										</div>
									</div>

								</fieldset>

								<div class="text-right">
									<button type="submit" class="btn btn-primary">
										Tambah Pengguna <i class="icon-arrow-right14 position-right"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>